body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url("https://media.istockphoto.com/id/1145474071/photo/tropical-beach-background.webp?s=2048x2048&w=is&k=20&c=iuQ0cGjSmz2ql4LLtj6ATa3Hdk-GenaNivfXLZi2udg=");

  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
  color: rgb(89, 102, 115);
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background-color: rgb(95, 216, 241);
  opacity: 0.8;
  color: rgb(89, 102, 115);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.clock #ampm {
  position: absolute;
  bottom: 0px;
  width: 60px;
  height: 30px;
  font-size: 20px;
}
